* {
  margin: 0;
  padding: 0;
  margin: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-weight: 300;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

p {
  font-size: 1em;
  color: #777777;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin-left: 2px;
  margin: auto;
  background-color: #d9f0ff;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  float: left;
}

h1, h2, h3, h4 {
  font-family: 'Spectral', serif;
}

.cabecalho {
  width: 100%;
  float: left;
  background-image: url(../pictures/Banner_casa_espana.png);
  background-size: cover;
  padding: 2% ;
  float: left;
}

.logo {
  width: 56px;
  height: 56px;
  float: left;
}

.btn-menu {
  width: 56px;
  height: 56px;
  float: right;
  text-align: center;
  border-radius: 56px;
  cursor: pointer;
  background: linear-gradient(to right, #fcdc43, #d1313f);
}

/*  MENU */

.menu {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
}

.btn-close {
  font-size: 1.5em;
  color: #fff;
  float: right;
  cursor: pointer;
  margin: 2% 3% 0 0;
}

.menu ul {
  width: 100%;
  float: left;
  text-align: center;
}

.menu ul li {
  padding: 2%;
}

.menu li a {
  font-size: 2em;
  color: #fcdc43;
  padding: 1.5% 3%;
}

.menu li a:hover {
  border: 1px solid #d1313f;
}

/*  Rodape */

.rodape {
  width: 100%;
  float: left;
  padding: 5%;
  text-align: center;
  background: linear-gradient(to right, #fcdc43, #d1313f);
}

.social-icons a {
  font-size: 1.5em;
  color: #d1313f;
  margin-right: 3%;
}

.social-icons a:hover {
  color: #2274a5;
}

.copyright {
  width: 100%;
  margin-top: 2%;
  padding: 5%;
  color: #fff;
}

/* Mobile First */
/* Small Devices */

@media screen and (min-width: 480px){
  .logo {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    width: 150px;
    height: 150px;
  }
}

/* Tablets Computers */

@media screen and (min-width: 960px) {
  .btn-menu {
    display: none;    
  }
  .btn-close {
    display: none;
  }
  .menu {
    width: 50%;
    height: 56px;
    line-height: 56px;
    float: right;
    background-color: #ca192a;
    display: block; 
    position: static;
  }

  .menu li {
    display: inline-block;
  }

  .menu li a {
    padding: 15px;
    color: white;
    font-size: 1em;
    font-weight: bolder;
  }

  .menu li a:hover {
    background-color: #fcdc43;
    color: black;
  }
}